.edge{
    min-height: 472px;
    background-color: #f6f6f6;
    padding: 70px 0 78px 0;

/*     &__header{
        font-size: 30px;
        font-weight: 700;
        text-align: center;
        color: #0d0d0d;
    } */

    &__items{
        margin-top: 65px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &__item {
        width: 247px;
        font-size: 14px;
        font-weight: 300;
        text-align: center;
        color: #0d0d0d;
        a {
            color: $main-color;
            text-decoration: underline;
        }
    }

    &__subheader {
        margin-top: 38px;
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 26px;
    }
}